language: cpp

env:
  global:
    - secure: cBiY5DYuFGEdyj7YyKkEmL4WfzllpF9cnr/oMXeZ2jVpzANIYi4Ln9ncDUItUsTcR9WeuTloq36b77YKSJ5ba7/AUaPmxlRvsxwu710jH2niAOOMwYpKSa3w0TFbI+GPOobEqZTnsLP9ffTmzmIOt1C5Re0AtQqYUsLazzm3a61S20x6EBDnLP7/rOUlDNpPT0N1xLKex8XKlxbgTOOdJ/eV2mePd4Q0HJvg4g+4TKifOIbIgKe2UO2IIiWf5ARiai/u5miXHe/aUH+YTO94rf+fefBrBxcvASe4dnHq7GAddaF5qLj2N7+3Xz4jjpipc7pQhKFvqnjlVvYwY3XigBD3ntt92LeYUljWuXFavZrU6HVK5JROBDtqc5qR2z60cwd7C+pEQwlgn45XmWgwjW+vw1GuAO/VvQ/jVYDu1VJpl/loX1mEnhTjZz2oQE1FTllllHNnM0ZmtLTHBfp7/06iLAXb5J6Gac0WbMm4Dz1uKiIjfklcOY4w09XuEDPxRxpz8JxdlIC23dlDLWJsI3QLb4WxTGkdXrumC30WSJbTWgVCh3y+ZXSJQ/A0ilLaFow608LaVXqBshpwKjMVsj1bn+uh31plkFGaSzxCJHAFNp89Au0ZC5+gs7AUh7mJEHWon7vDNPllltRyvoYtb9L+UFTbqC3IkRTqOwLw/ak=
    - secure: EvCb5cab0K2IhUtCg4pVbUbRnYQvSHi7F8onyubwud59u10M4SQqXzKPCUaDefeTuf0Id40rn3/QC72hpAA/Cw2yMoKgC6ZAJsY8wWDjg7tzagypgZlifrbhkDNkPdVDpOX6DQk9TyHqzyGGrKFkGcE39PPs0mZ3SEd6kAOATMESo4tDnNEGzA7Rx24kpkCwFUZ4ltRzJO5Et3mzCdigNjpjIcCNhIbDsGia/sAChsrdXuAU2B+q9UJKZ/ymFqjCikWmJ2QVF9KZ8FK3VtTcQqCUkf7uKyjSCp5c+H86PEp98BKp2BG6GohPbLpV+fElPo4GrweoexDrlheUKGse8YKTAX1zGFr7XO+wcRJJbtF1TWPEpLtIvL7vbTrYhDzNx558qq51n+KSmmAMtLCNRy9y37gr29RCEJx2vbHYIb8coflgYKBwDBjkUyzhrLe7AvKOZ9/z3hc5YE+6aanRmFnboJzYlmvN3KCmeDWiX5y/Z05ePeSHZqV8RvueNtEV8kXAAR1nGO3XbE1vGdpRz7tfMZeOyFoVmwZFVjpP4s/9LibMr4CP0cruc/EYhSJwS/S5JyatgNjRQzaBAlHgsDNJH4rRSlBO2mQ0oHJ4YpaGWRj4Byk9kKmxdQw63RyPEGPbCwBe1hyA9DmnKk3CoATsecHd7Q/n8MPxPaMeLjI=

matrix:
  fast_finish: true
  include:
    - env: NODE_VERSION=4
      os: linux

    - env: NODE_VERSION=5
      os: linux

    - env: NODE_VERSION=6
      os: linux

    - env: NODE_VERSION=7
      os: linux

    - env: NODE_VERSION=4
      os: osx

    - env: NODE_VERSION=5
      os: osx

    - env: NODE_VERSION=6
      os: osx

    - env: NODE_VERSION=7
      os: osx

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-5

cache:
  directories:
    - $HOME/boost
    - $HOME/libtorrent

install:
  - export MACOSX_DEPLOYMENT_TARGET=10.9
  - source scripts/install-node.sh $NODE_VERSION
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update && brew install openssl ; fi
  - if [[ "$TRAVIS_OS_NAME" != "osx" ]]; then scripts/install-boost.sh            ; fi
  - scripts/install-libtorrent.sh

script:
  - export CPATH=$CPATH:$HOME/boost/include
  - export CPATH=$CPATH:$HOME/libtorrent/include
  - export LIBRARY_PATH=$LIBRARY_PATH:$HOME/boost/lib
  - export LIBRARY_PATH=$LIBRARY_PATH:$HOME/libtorrent/lib

  - scripts/build-travis.sh
